@page "/Account"
@using DBetter.Contracts.Users.Commands.Login
@inject AuthenticationService Authentication
<h3>Login</h3>

<EditForm Model="@_loginParameters" OnSubmit="HandleLogin">
    <InputText @bind-Value="@_loginParameters.Email" placeholder="Email"/>
    <InputText @bind-Value="@_loginParameters.Password" placeholder="Password" type="password" />
    <button type="submit">Login</button>
</EditForm>

@code {
    readonly LoginParameters _loginParameters = new LoginParameters();

    async Task HandleLogin()
    {
        await Authentication.Login(_loginParameters);
    }
}