@using DBetter.Frontend.Components
@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

<main class="d-flex vh-100">
    <Sidebar/>
    <article class="d-flex">
        @Body
    </article>
</main>