@using DBetter.Frontend.Components
@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

<main class="d-flex vh-100">
    <Sidebar/>
    <article class="w-100 p-4">
        @Body
    </article>
</main>